.cover-display{
    position: relative;
    .background-image-container{
        img{
            width: 100%;
        }
    }
    .video-block{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        width: 40.6%;
        height: auto;
        background-color: #aaa;
        border: 5px solid @lighterBlue;

    }
}
